body{
    background-color: #e4e4e4;
    margin: 0;
}
.container{
    position: relative;
    top: 7rem;
    background-color: #051356;
    width: 100%;
    height: 42rem;
    display: flex;
}

.text{
    position: relative;
    top: 3%;
    left: 21%;
    width: 30rem;
    height: 20rem;
    color: white;
    margin-right: 39rem;
}

.icon{
    position: relative;
    background-repeat: no-repeat;
    top: 40%;
    background-image: url(img/team.jpg);
    width: 35rem;
    height: 27rem;
    border-radius: 50%;
}

.title{
    font-family: Gabriola;
    font-size: 3.6rem;
}

context.{

}
.distance{
    margin-bottom: 0.2rem;
}
.list{
    list-style: none;
}