
body{
    background-image: url("https://wallpapermemory.com/uploads/435/dog-background-laptop-308152.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.context{
    max-width: 40%;
    min-width: 18rem;
    max-height: 60%;
    background-color: rgba(0, 0, 0, 0.696);
    text-align: center;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 14rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
}
.title{
    color: rgb(14, 144, 204);
    font-size: 1.9rem;
    position: relative;
    top: 1.2rem;
    font-family:monospace;
}
.text{
    color: darkorange;
    font-size: 1.3rem;
    font-family: gabriola;
    line-height: 1.5rem;
    width: 100%;
}
.form{
    display: inline-block;
    width: 30%;
    height: 67%;
    color: white;

}