body{
    background-image: url("img/contact.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 3px;
    margin-right: 1px;

}
.layer{
    background-color: rgba(0, 1, 1, 0.55);
    width: 100%;
    min-height: 57rem;
    position: relative;
}
.header{
    text-align: center;
    font-family: gabriola;
    font-size: 4.8rem;
    margin-top: 2px;
    color:rgb(220, 224, 7);
}
.message{
    position: relative;
    left: 40rem;
    width: 42rem;
    height:10rem;
    max-height: 17rem;
    min-height: 7rem;
    margin-bottom: 2rem;
    padding-top:0.3rem;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    font-size: 1.5rem;
    resize: vertical;
    box-sizing: border-box;
    padding: 7px;
}
.inputs{
    font-size: 1.2rem;
    width: 19rem;
    height: 1.9rem;
    position: relative;
    left: 28.7%;
    top: 10%;
    margin-bottom: 9rem;
    margin-right: 15rem;
    background-color:rgba(245, 245, 245, 0.007);
    border-bottom: solid rgb(209, 115, 8) 3px;
    border-top: solid rgba(245, 245, 245, 0.007) 1px;
    border-left: solid rgba(245, 245, 245, 0.007) 1px;
    border-right: solid rgba(245, 245, 245, 0.007) 1px;
    color: white;
    box-sizing: border-box;
}
::placeholder{
    color: white;
}

.send{
    position: relative;
    left: 42rem;
    width: 6.2rem;
    height: 3.9rem;
    font-size: 1.8rem;
    font-family: urial;
    border-radius: 20%;
    background-image: linear-gradient(to bottom, rgba(153, 76, 4, 0.986), darkorange);
    transition-duration: 1s;
    border: black solid 3px;
}
.send:hover{
    border-color: rgb(31, 31, 192);
}

input:valid{
    border-bottom: green 3px solid;
}
